$fonts:  'Hind', sans-serif ;
$headerFont: 'Source Sans Pro', sans-serif;
$bgColor: #ffffff;
$imgBackground: url(../img/m-h-day.jpg) no-repeat top/cover;
$btnColor: #699900;
$underscoreColor: #14a0c7;
$pageColor: #21232e;
$bannerGradient: linear-gradient(45deg, #629219, #2c5ada);
$headerColor: #2c2f3c;
$textColor: #c0beaa;
$sectioncardColor: #ffffff;