$fonts:  'Hind', sans-serif ;
$headerFont: 'Source Sans Pro', sans-serif;
$bgColor: #21232e;
$imgBackground: url(../img/m-h-night.jpg) no-repeat top/cover;
$btnColor: #e3ac00;
$underscoreColor: #14a0c7;
$pageColor: #21232e;
$bannerGradient: linear-gradient(45deg, #da9e09, #922c53);
$headerColor: #ffffff;
$textColor: #c0beaa;
$sectioncardColor: #ffffff;
